@(id: Long, indicatorSet: IndicatorSet)

@import helper._

@main("Project") {


  <div class="row text-left">
      <div class="col-md-12">
        <h2>@indicatorSet.getName()</h2>

        <div>
          <a href="@routes.ProjectController.returnToProject()">Back to project</a>
        </div>

        <table class="table table-striped">
            <tr>
              <th>Source</th>
              <th>Category</th>
              <th>Code</th>
              <th>Name</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
            @for(indicator <- indicatorSet.getIndicators()) {
              <tr>
                <td>@indicator.getSource()</td>
                <td>@indicator.getCategory()</td>
                <td>@indicator.getIdentifyingCode()</td>
                <td>@indicator.getName()</td>
                <td>@indicator.getDescription()</td>
                <td><a class="name" href="@routes.IndicatorSetController.chooseIndicator(indicator.id)" class="btn-default">Add Indicator to Project</a></td>
              </tr>
            }
        </table>>
      </div>
  </div>
}

