@(indicatorSets: List[IndicatorSet])

@import helper._

@main("Project") {

  <div id="page-heading">
    <ol class="breadcrumb">
      <li><a href="@routes.ProjectController.projects()">All Projects</a></li>
      <li><a href="@routes.ProjectController.viewProject(ProjectController.getProject().id)">Project Dashboard</a></li>
      <li class="active">Indicator Sets</li>
    </ol>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary collapse in">
            <div class="panel-heading">
              <h4>Browse Indicators</h4>
<!--               <div class="options">
                  <a href="javascript:;"><i class="fa fa-cog"></i></a>
                  <a href="javascript:;"><i class="fa fa-wrench"></i></a>
                  <a href="javascript:;" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
              </div>
 -->
            </div>
            <div class="panel-body">
                @if(IssueController.getIssueName() != null) {
                    <div>
                        The current issue is <strong>@IssueController.getIssueName().</strong>
                    </div>
                }
              <div>
                <a href="@routes.IndicatorSetController.viewAllIndicatorSets(view = "table")" class="btn">
                  <i class="fa fa-th-large"></i>
                  <span>Table view</span>
                </a>
                <a href="@routes.IndicatorSetController.viewIndicatorSetBySubdomain()"  class="btn">
                    <i class="fa fa-adjust"></i>
                    <span>Circular view</span>
                </a>
              </div>

              <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables">
                <thead>
                  <tr>
                    <th>Set</th>
                    <th>Source</th>
                    <th>Category</th>
                    <th>Identifier</th>
                    <th>Title</th>
                    <th>Description</th>
                      <th>Subdomain(s)</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Set</th>
                    <th>Source</th>
                    <th>Category</th>
                    <th>Identifier</th>
                    <th>Title</th>
                    <th>Description</th>
                      <th>Subdomain(s)</th>
                    <th>Actions</th>
                  </tr>
                </tfoot>
                <tbody>
                  @for(indicatorSet <- indicatorSets) {
                    @for(indicator <- indicatorSet.getIndicators()) {
                    <tr>
                      <td>@indicatorSet.getName()</td>
                      <td>@indicator.getSource()</td>
                      <td>@indicator.getCategory()</td>
                      <td>@indicator.getIdentifyingCode()</td>
                      <td>@indicator.getName()</td>
                      <td>@indicator.getDescription()</td>
                    <td>
                        @if(indicator.getSubdomains().size() > 0) {
                            @indicator.getSubdomains().get(0).toString()
                        } else {
                            [No subdomain]
                        }
                    </td>
                      <td>
                        @if(IssueController.getIssue() != null) {
                          Actions:
                          @form(routes.IndicatorController.applyIndicatorToIssue(IssueController.getIssue(), indicator.id)) {
                              <input type="submit" value="Add Indicator to Issue" class="btn btn-primary">
                          }
                        } else {
                            [No actions available]
                        }
                      </td>
                    </tr>
                    }
                  }
                </tbody>
              </table>>
            </div>
        </div>
      </div>
    </div>
  </div>

  <script type='text/javascript' src='assets/plugins/datatables/jquery.dataTables.min.js'></script>
  <script type='text/javascript' src='assets/plugins/datatables/dataTables.bootstrap.js'></script>
  <script type="text/javascript">
  // -------------------------------
  // Initialize Data Tables
  // -------------------------------

  $(document).ready(function() {
      $('.datatables').dataTable({
          "sDom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
          "sPaginationType": "bootstrap",
          "oLanguage": {
              "sLengthMenu": "_MENU_ records per page",
              "sSearch": ""
          }
      });
      $('.dataTables_filter input').addClass('form-control').attr('placeholder','Search...');
      $('.dataTables_length select').addClass('form-control');
  });
 </script>
}

