@(id: Long, issueForm: Form[CriticalIssue], subdomains: List[Subdomain])

@import helper._

@main("Issue") {

  <script src="@routes.Assets.at("javascripts/subdomain-selector.js")" type="text/javascript"></script>

  <div id="page-heading">
    <ol class="breadcrumb">
      <li><a href="@routes.ProjectController.projects()">All Projects</a></li>
      <li><a href="@routes.ProjectController.viewProject(issueForm.get().getProject().id)">Project Dashboard</a></li>
      <li class="active">New Issue</li>
    </ol>

    <h1>Add a new issue</h1>
  </div>
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-body">
        @form(routes.IssueController.updateIssue(id)) {
        <div class="row text-left">

          <div class="col-md-6">

              <div><h4>Issue details</h4></div>

                  @inputText(issueForm("name"), '_label -> "Issue Name", 'class -> "form-control")
                  
                  @textarea(issueForm("description"), '_label -> "Describe the issue", 'class -> "form-control", 'rows -> 10)

              <div>

              <div><h4>Indicators for this issue</h4></div>
                @for((indicator, indicatorIndex) <- issueForm.get().getIndicators().zipWithIndex) {
                    <div>
                    @(indicatorIndex + 1). <a class="name" href="@routes.IndicatorController.editIndicator(issueForm.get().id, indicator.id)" class="btn-default">@indicator.getName()</a>
                    </div>
                }
              </div>
              <div>
                <a href="@routes.IndicatorController.setupIndicator(issueForm.get().id)" class="btn btn-success">Add a new Indicator</a>
              </div>

          </div>

          <div class="col-md-6">
            <div id="tooltip" style="min-height: 1.2em"></div>

            <div id="circles">
              <canvas id="assessmentCanvas" width="600" height="600" ></canvas>
            </div>

            <div>
            @for((subdomain, index) <- subdomains.zipWithIndex) {
              <input type="hidden" id="subdomain_@index" 
                name="subdomains[@index].id" 
                value="@subdomain.id" 
                @if(!issueForm.get().getSubdomains().contains(subdomain)) {
                  disabled="disabled"
                } 
                >
              <script type="text/javascript">
                $(document).ready(function() {
                drawSegment(
                  Math.floor(@index / 7), 
                  '@subdomain.getParentDomain().getName()', 
                  (@index % 7) % 7, 
                  '@subdomain.getName()',
                  0,
                  @if(issueForm.get().getSubdomains().contains(subdomain)) {1} else {0}, 
                  @index
                );
                });
              </script>
            }
            </div>
          </div>
        </div>
        <div class="row text-left">
            <div class="col-md-12">
                <input type="submit" value="Save Issue" class="btn btn-primary">
                <a href="@routes.ProjectController.viewProject(Long.valueOf(session.get("projectId")))" class="btn">Cancel</a>
            </div>
        </div>
          }
        <div class="row text-left">
            <div class="col-md-12">
                @form(routes.IssueController.deleteIssue(id), 'class -> "topRight") {
                <input type="submit" value="Delete this issue" class="btn btn-danger">
                }
            </div>
        </div>

        </div>
      </div>
    </div>
  </div>

}

