@import helper._

@main("Tour") {


  <div id="page-heading">
    <ol class="breadcrumb">
      <li><a href="@routes.ProjectController.projects()">All Projects</a></li>
      <li class="active">Tour</li>
    </ol>

  </div>
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
      	<h2>Circles of Sustainability Tour</h2>
      	
      </div>
      <div class="panel-body">
				<div class="row">
			    <div class="col-md-6">
			    	Welcome to the Circles of Sustainability tour. 
			    	More information coming soon.
					</div>
			    <div class="col-md-6">

					</div>
				</div>
			</div>
		</div>
	</div>

  
}
