@(id: Long, projectForm: Form[Project])

@import helper._

@main("Project") {

    @form(routes.ProjectController.updateProject(id)) {
    <div id="page-heading">
      <ol class="breadcrumb">
        <li class="active"><a href="@routes.ProjectController.projects()">Project Listing</a></li>
        <li class="active"><a href="@routes.ProjectController.viewProject(projectForm.get().id)">Project Dashboard</a></li>
        <li class="active">Editing Project</li>
      </ol>

      <h1>Editing Project</h1>

`    </div>
    <div class="container">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">@projectForm.get().projectName</h3>
          </div>
          <div class="panel-body">
            <div class="row text-left">

                <div class="col-md-6">

                  <div>
                    <span>Created on: @projectForm.get().createdAt</span>
                  </div>
                  <div>
                    <a href="@routes.ProjectController.returnToProject()">Back to project</a>
                  </div>
                </div>
            </div>

            <div class="row text-left">

                <div class="col-md-6">

                  @inputText(projectForm("projectName"), '_label -> "Project Name", 'class -> "form-control")

                  @inputText(projectForm("generalIssue"), '_label -> "What is the general issue this project is trying to address?", 'class -> "form-control")

                  @inputText(projectForm("normativeGoal"), '_label -> "What is the normative goal of the project?", 'class -> "form-control")

                  @textarea(projectForm("projectDescription"), '_label -> "Describe this project - what is it about?", 'class -> "form-control")

                  @inputDate(projectForm("startDate"), '_label -> "If the project has a start date, enter it here:", 'class -> "form-control")

                  @inputDate(projectForm("endDate"), '_label -> "If the project has an end date, enter it here:", 'class -> "form-control")

                  <div>
                      <input type="submit" value="Save Project" class="btn btn-primary">

                      <a href="@routes.ProjectController.returnToProject()" class="btn">Cancel</a> 

                  </div>
                  <div>
                      @form(routes.ProjectController.deleteProject(id), 'class -> "topRight") {
                          <input type="submit" value="Delete this project" class="btn danger">
                      }
                  </div>

                </div>
                <div class="col-md-6">

                  <div>
                    Is this project based in a city? Tell us something about it...
                  </div>

                  <div>
                    @inputText(projectForm("city"), '_label -> "The name of the city or urban area", 'class -> "form-control")
                  </div>
                  
                </div>
            </div>

          }
          </div>
      </div>

    </div>

}

