@(id: Long, projectForm: Form[Project], indicatorSets: List[IndicatorSet])

@import helper._

@main("Project") {

      <div class="row text-left">
          <div class="col-md-6">

            <h2>The <strong>@projectForm.get().projectName</strong> project</h2>

              <div>
              was created on @projectForm.get().createdAt
              </div>

              <div>It is about: <blockquote>@projectForm.get().projectDescription</blockquote></div>

              <div>
                  The project concerns the <em>general issue</em> of @projectForm.get().generalIssue,
                  and has a <em>main goal</em> of @projectForm.get().normativeGoal .
              </div>

              <div>
                  <a href="@routes.ProjectController.editProject(projectForm.get().id)" class="btn">Change this project...</a>
              </div>

              <div>
                  <a href="@routes.ProjectController.reportProject(projectForm.get().id)" class="btn">View project report</a>
              </div>
          </div>
          <div class="col-md-6">
              <h2>Project Progress</h2>
             <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <span>Has the project been created? </span>
                    @if(projectForm.get().projectProgress.isProjectCreated == 1) {
                      <span class="glyphicon glyphicon-ok"></span>
                    }
                  </li>

                  <li class="list-group-item">Has an assessment been conducted? 
                    @if(projectForm.get().projectProgress.hasInitialAssessmentBeenConducted == 1) {
                      <span class="glyphicon glyphicon-ok"></span>
                    } 
                  </li>

                  <li class="list-group-item">Has a general issue been defined? 
                    @if(projectForm.get().projectProgress.isGeneralIssueDefined == 1) {
                      <span class="glyphicon glyphicon-ok"></span>
                    } 
                  </li>

                  <li class="list-group-item">Has a normative goal been defined? 
                    @if(projectForm.get().projectProgress.isNormativeGoalDefined == 1) {
                      <span class="glyphicon glyphicon-ok"></span>
                    } 
                  </li>

                  <li class="list-group-item">Have at least 4 issues been created? 
                    @if(projectForm.get().projectProgress.doAtLeastFourIssuesExist == 1) {
                      <span class="glyphicon glyphicon-ok"></span>
                    } 
                  </li>

                  <li class="list-group-item">Are all the domain covered by the issues? 
                    @if(projectForm.get().projectProgress.areAllDomainsCoveredByIssues == 1) {
                      <span class="glyphicon glyphicon-ok"></span>
                    } 
                  </li>

                  <li class="list-group-item">Have at least 4 indicators been defined? 
                    @if(projectForm.get().projectProgress.doAtLeastFourIndicatorsExist == 1) {
                      <span class="glyphicon glyphicon-ok"></span>
                    } 
                  </li>

                  <li class="list-group-item">Are all issues measured by indicators? 
                    @if(projectForm.get().projectProgress.areAllIssuesMeasuredByAtLeastOneIndicator == 1) {
                      <span class="glyphicon glyphicon-ok"></span>
                    } 
                  </li>

                  <!--

                  <li class="list-group-item">Has a report been generated? 
                    @if(projectForm.get().projectProgress.isReportCompiled == 1) {
                      <span class="glyphicon glyphicon-ok"></span>
                    } 
                  </li>

                  <li class="list-group-item">Have the issues been reviewed and adapted? 
                    @if(projectForm.get().projectProgress.isModelReviewedAndAdapted == 1) {
                      <span class="glyphicon glyphicon-ok"></span>
                    } 
                  </li>

                  <li class="list-group-item">Has an appropriate response to the issue(s) been developed? 
                    @if(projectForm.get().projectProgress.isResponseDevelopedAndMonitored == 1) {
                      <span class="glyphicon glyphicon-ok"></span>
                    } 
                  </li>
                -->
                </ul>
            </div>
          </div>
      </div>

        <div class="row">
          <div class="col-md-4">
              <h2>Common Indicator Sets</h2>
             <div class="panel">
              @for(indicatorSet <- indicatorSets) {
                <div class="panel-body">
                  <a class="name" href="@routes.IndicatorSetController.viewIndicatorSet(indicatorSet.id)" class="btn-default">@indicatorSet.getName()</a>
                </div>
              }
            </div>
          </div>
          <div class="col-md-4">
              <h2>Critical Issues</h2>
             <div class="panel panel-default">
              @for(issue <- projectForm.get().getCriticalIssues()) {
                <div class="panel-heading">
                  <a class="name" href="@routes.IssueController.editIssue(issue.id)" class="btn-default">@issue.getName()</a>
                </div>
                <div class="panel-body">
                  <div>Indicators:</div>
                <ul class="list-group">
                  @for(indicator <- issue.getIndicators()) {
                  <li class="list-group-item">
                    <a class="name" href="@routes.IndicatorController.editIndicator(issue.id, indicator.id)" class="btn-default">@indicator.getName()</a>
                  </li>
                  }
                  <li class="list-group-item">
                    <a href="@routes.IndicatorController.setupIndicator(issue.id)">Add a new Indicator</a>
                  </li>
                </ul>
                </div>
              }
              <div class="panel-heading">
                <a href="@routes.IssueController.setupIssue()" class="btn">Add a new Issue</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
              <h2>Assessments</h2>
             <div class="panel-body">
              @for(assessment <- projectForm.get().getAssessments()) {
                <div>
                  <a class="name" href="@routes.AssessmentController.editAssessment(assessment.id)" class="btn-default">@assessment.getCreatedAt()</a>
                </div>
              }
            </div>
            <a href="@routes.AssessmentController.setupAssessment()" class="btn">Add a new Assessment</a>
          </div>
        </div>




}

