@(id: Long, projectForm: Form[Project], indicatorSets: List[IndicatorSet])

@import helper._

@main("Project") {

    <script type="text/javascript">

  // Declare global variable
  var subdomains, assessments, canvas, subdomainNumCircles = 1, assessmentNumCircles = 9;

    $(document).ready(function() {
        // Get the canvas
        var subdomainCanvases = $(".subdomain");
        subdomains = new Array(subdomainCanvases.length);
        var assessmentCanvases = $(".assessment");
        assessments = new Array(assessmentCanvases.length);

         // Setup random data
        var values = new Array();
        for (var i = 0; i < 4; i++) {
            var domainValues = new Array();
            for (var j = 0; j < 7; j++) {
                var extent = 0;
                domainValues.push(extent);
            }
            values.push(domainValues);
        }

        for (var k = 0; k < subdomainCanvases.length; k++) {
           canvas = subdomainCanvases[k];
           var ctx = canvas.getContext('2d');

           // Create the Assessment
             var subdomainCircle = new CoS.Assessment(ctx, { 
                width: 150, 
                height: 150,
                values:  values,
                numCircles: subdomainNumCircles,
                drawText: false,
                axisLength: 1.2,
                lineWidth: 0.4,
                radiusProportion: 0.75,
                font: "bold 10px sans-serif",
                rotation: 0
             });

           subdomainCircle.drawAssessmentCircle();
           subdomains[k] = subdomainCircle;
        }
        for (var k = 0; k < assessmentCanvases.length; k++) {
           canvas = assessmentCanvases[k];
           var ctx = canvas.getContext('2d');

           // Create the Assessment
             var assessmentCircle = new CoS.Assessment(ctx, { 
                width: 150, 
                height: 150,
                values:  values,
                numCircles: assessmentNumCircles,
                drawText: false,
                axisLength: 1.2,
                lineWidth: 0.4,
                radiusProportion: 0.75,
                font: "bold 10px sans-serif",
                rotation: 0
             });

           assessmentCircle.drawAssessmentCircle();
           assessments[k] = assessmentCircle;
        }
    });


    var drawSubdomainSegment = function drawSegment(index, domainId, domainName, subdomainId, subdomainName, oldValue, newValue) {
       var subdomain = subdomains[index];
       subdomain.updateCircleSegment(domainId, subdomainId, newValue);
    }

    var drawAssessmentSegment = function drawSegment(index, domainId, domainName, subdomainId, subdomainName, oldValue, newValue) {
       var assessment = assessments[index];
       assessment.updateCircleSegment(domainId, subdomainId, newValue);
    }

    </script>

    <div id="page-heading">
     <ol class="breadcrumb">
        <li><a href="@routes.ProjectController.projects()">All Projects</a></li>
        <li class="active"><a href="@routes.ProjectController.viewProject(projectForm.get().id)">Project Dashboard</a></li>
      </ol>

      <h1>Project Dashboard</h1>

    </div>
    <div class="container">
        <div class="row text-left">
            <div class="col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h2>About the <strong>@projectForm.get().projectName</strong> project</h2>
              </div>
              <div class="panel-body">

                  <div>
                  The project was created on @projectForm.get().createdAt
                  </div>

                  <div>It is about: <blockquote>@projectForm.get().projectDescription</blockquote></div>

                  <div>
                      The project concerns the <em>general issue</em> of @projectForm.get().generalIssue,
                      and has a <em>main goal</em> of @projectForm.get().normativeGoal .
                  </div>

                  <div>
                      <a href="@routes.ProjectController.editProject(projectForm.get().id)" class="btn btn-primary">Change this project...</a>
                  </div>

                  <div>
                      <a href="@routes.ProjectController.reportProject(projectForm.get().id)" class="btn btn-success">View project report</a>
                  </div>
              </div>
            </div>
          </div>
            <div class="col-md-6">
             <div class="panel panel-primary">
              <div class="panel-heading">
                  <h2>Project Progress</h2>
              </div>
               <div class="panel-body">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <span>Has the project been created? </span>
                        @if(projectForm.get().projectProgress.isProjectCreated == 1) {
                          <i class="fa fa-check"></i>
                        }
                      </li>

                      <li class="list-group-item">Has a general issue been defined? 
                        @if(projectForm.get().projectProgress.isGeneralIssueDefined == 1) {
                          <i class="fa fa-check"></i>
                        } 
                      </li>

                      <li class="list-group-item">Has a normative goal been defined? 
                        @if(projectForm.get().projectProgress.isNormativeGoalDefined == 1) {
                          <i class="fa fa-check"></i>
                        } 
                      </li>

                      <li class="list-group-item">Have at least 4 issues been created? 
                        @if(projectForm.get().projectProgress.doAtLeastFourIssuesExist == 1) {
                          <i class="fa fa-check"></i>
                        } 
                      </li>

                      <li class="list-group-item">Are all the domain covered by the issues? 
                        @if(projectForm.get().projectProgress.areAllDomainsCoveredByIssues == 1) {
                          <i class="fa fa-check"></i>
                        } 
                      </li>

                      <li class="list-group-item">Have at least 4 indicators been defined? 
                        @if(projectForm.get().projectProgress.doAtLeastFourIndicatorsExist == 1) {
                          <i class="fa fa-check"></i>
                        } 
                      </li>

                      <li class="list-group-item">Are all issues measured by indicators? 
                        @if(projectForm.get().projectProgress.areAllIssuesMeasuredByAtLeastOneIndicator == 1) {
                          <i class="fa fa-check"></i>
                        } 
                      </li>

                      <li class="list-group-item">Has an assessment been conducted? 
                        @if(projectForm.get().projectProgress.hasInitialAssessmentBeenConducted == 1) {
                          <i class="fa fa-check"></i>
                        } 
                      </li>

                      <!--

                      <li class="list-group-item">Has a report been generated? 
                        @if(projectForm.get().projectProgress.isReportCompiled == 1) {
                          <i class="glyphicon glyphicon-ok"></i>
                        } 
                      </li>

                      <li class="list-group-item">Have the issues been reviewed and adapted? 
                        @if(projectForm.get().projectProgress.isModelReviewedAndAdapted == 1) {
                          <i class="glyphicon glyphicon-ok"></i>
                        } 
                      </li>

                      <li class="list-group-item">Has an appropriate response to the issue(s) been developed? 
                        @if(projectForm.get().projectProgress.isResponseDevelopedAndMonitored == 1) {
                          <i class="glyphicon glyphicon-ok"></i>
                        } 
                      </li>
                    -->
                    </ul>
                </div>
              </div>
            </div>
          </div>

            <div class="row">
              <div class="col-md-4">
               <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>Common Indicator Sets</h2>
                </div>
                  <div class="panel-body">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <strong><a class="name" href="@routes.IndicatorSetController.viewAllIndicatorSets(view = "table")" class="btn-default">All Indicators</a></strong>
                      </li>
                      @for(indicatorSet <- indicatorSets) {
                        <li class="list-group-item">
                          <strong>
                          <a class="name" href="@routes.IndicatorSetController.viewIndicatorSet(view = "table", indicatorSet.id)" class="btn-default">@indicatorSet.getName()</a>
                          </strong>
                          <div>Example indicators: </div>
                          <div>
                            @defining(if (indicatorSet.getIndicators().size() < 5) {
                              indicatorSet.getIndicators().size()
                            } else {
                              5
                            }) { len =>
                              <ul>
                                @for(indicator <- indicatorSet.getIndicators().subList(0, len)) {
                                  <li>
                                    @indicator.getName()
                                  </li>
                                }
                              </ul>
                            }                           
                          </div>
                        </li>
                      }
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
               <div class="panel panel-primary">
                <div class="panel-heading">
                  <h2>Critical Issues</h2>
                </div>
                  <div class="panel-body">
                    <ul class="list-group">
                      @for((issue, issueIndex)  <- projectForm.get().getCriticalIssues().zipWithIndex) {
                        <li class="list-group-item">
                          <div>
                            <div>
                              @(issueIndex + 1). <a class="name" href="@routes.IssueController.editIssue(issue.id)" class="btn-default">@issue.getName()</a>
                            </div>
                            <div style="min-height: 160px">
                                <div style="float: right">
                                <canvas id="@issue.id" class="subdomain" width="150" height="150"></canvas>
                                @for((subdomain, index) <- issue.getSubdomains().zipWithIndex) {
                                    <script type="text/javascript">
                                        $(document).ready(function() {
                                        drawSubdomainSegment(
                                          @issueIndex,
                                          Math.floor(@subdomain.id / 7), 
                                          '@subdomain.getParentDomain().getName()', 
                                          @subdomain.id % 7, 
                                          '@subdomain.getName()',
                                          0, 
                                          1
                                        );
                                        });
                                    </script>
                                }
                                </div>
                                <div>
                                  <div>
                                    <strong>Covered Subdomains:</strong>
                                  </div>
                                  @for(subdomain <- issue.getSubdomains()) {
                                      <div>@subdomain.getName()</div>
                                  }
                                </div>
                            </div>
                              @if(issue.getIndicators().size() > 0) {
                                <div>
                                  <div><strong>Indicators:</strong></div>
                                  <ul class="list-group">
                                    @for(indicator <- issue.getIndicators()) {
                                    <li class="list-group-item">
                                      <a class="name" href="@routes.IndicatorController.editIndicator(issue.id, indicator.id)" class="btn btn-default">@indicator.getName()</a>
                                    </li>
                                    }
                                  </ul>
                                </div>
                              }
                              <div>
                                <a href="@routes.IndicatorController.setupIndicator(issue.id)" class="btn btn-success">Add a new Indicator</a>
                                <a href="@routes.IndicatorController.chooseIndicator(issue.id)" class="btn btn-primary">Choose an existing Indicator</a>
                              </div>
                          </div>
                        </li>
                      }
                      <li class="list-group-item">
                      <div>
                        <a href="@routes.IssueController.setupIssue()" class="btn btn-success">Add a new Issue</a>
                      </div>
                      </li>
                    </ul>
                  </div>
                </div>  
              </div>
              <div class="col-md-4">
               <div class="panel panel-primary">
                <div class="panel-heading">
                  <h2>Assessments</h2>
                </div>
                 <div class="panel-body">
                  @for((assessment, assessmentIndex) <- projectForm.get().getAssessments().zipWithIndex) {
                    <div style="min-height: 160px">
                      <div style="float: right">
                        <canvas id="@assessment.id" class="assessment" width="150" height="150"></canvas>
                        @for((value, index) <- assessment.getValues().zipWithIndex) {
                            <script type="text/javascript">
                                $(document).ready(function() {
                                drawAssessmentSegment(
                                    @assessmentIndex,
                                    Math.floor(@index / 7), 
                                    '@value.getSubdomain().getParentDomain().getName()', 
                                    (@index % 7) % 7, 
                                    '@value.getSubdomain().getName()',
                                    5, 
                                    @value.getValue()
                                );
                                });
                            </script>
                        }
                      </div>
                      <div style="min-width: 50%">
                        <a class="name" href="@routes.AssessmentController.editAssessment(assessment.id)" class="btn-default">@assessment.getCreatedAt()</a>
                      </div>
                      
                    </div>
                  }
                  <div>
                  <a href="@routes.AssessmentController.setupAssessment()" class="btn btn-primary">Add a new Assessment</a>
                  </div>
                </div>
              </div>
            </div>

          </div>


        </div>

}

