@(projects: List[Project], projectForm: Form[Project])

@import helper._

@main("Projects") {
    <div id="page-heading">
      <ol class="breadcrumb">
        <li class="active"><a href="@routes.ProjectController.projects()">All Projects</a></li>
      </ol>

      <h1>Project Listing</h1>

    </div>
    <div class="container">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">@projects.size() current project(s)</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">
            @for(project <- projects) {
              <li class="list-group-item">
                  <a class="name" href="@routes.ProjectController.viewProject(project.id)" class="btn-default">@project.projectName</a>

                  @form(routes.ProjectController.deleteProject(project.id)) {
                      <input type="submit" value="Delete" class="btn btn-danger">
                  }
              </li>
            }
            </ul>
          </div>
      </div>

      <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Add a new project</h3>
          </div>
          <div class="panel-body">
            @form(routes.ProjectController.newProject(), 'class -> "form-horizontal") {

                @inputText(projectForm("projectName"), '_label -> "Name of your project: ", 'class -> "form-control")

                <input type="submit" value="Create" class="btn btn-primary">

            }
          </div>
      </div>

    </div>


}