@(issueId: Long, id: Long, indicatorForm: Form[Indicator], subdomains: List[Subdomain])

@import helper._

@main("Indicator") {

  <script src="@routes.Assets.at("javascripts/subdomain-selector.js")" type="text/javascript"></script>

  <div id="page-heading">
    <ol class="breadcrumb">
      <li><a href="@routes.ProjectController.projects()">Project Listing</a></li>
      <li><a href="@routes.ProjectController.viewProject(indicatorForm.get().getProject().id)">Project Dashboard</a></li>
      <li><a href="@routes.IssueController.editIssue(issueId)">Edit Issue</a></li>
      <li class="active">Edit Indicator</li>
    </ol>

    <h1>Editing the @indicatorForm.get().getName() indicator</h1>
  </div>
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-body">
			  <div class="row text-left">
				    @form(routes.IndicatorController.updateIndicator(issueId, id)) {

				    <div class="col-md-6">

				        @inputText(indicatorForm("name"), '_label -> "Indicator Name", 'class -> "form-control")

				        @textarea(indicatorForm("description"), '_label -> "Describe the indicator", 'class -> "form-control")



				    		<div>
				    			@inputText(indicatorForm("source"), '_label -> "Source", 'class -> "form-control")	
				    		</div>
				    		
				    		<div>
				    			@inputText(indicatorForm("category"), '_label -> "Category", 'class -> "form-control")	
				    		</div>
				    		
				    		<div>
				    			@inputText(indicatorForm("identifying_code"), '_label -> "Code", 'class -> "form-control")	
				    		</div>
				    		
				    		<div>
				    			@inputText(indicatorForm("unit_of_measure"), '_label -> "Unit of measure", 'class -> "form-control")
				    		</div>


				        <input type="submit" value="Save Indicator" class="btn btn-primary">

				        <div>
					        <a href="@routes.ProjectController.viewProject(Long.valueOf(session.get("projectId")))" class="btn btn-success">Cancel</a> 
				        </div>
					  </div>

			    <div class="col-md-6">
						<div id="circles">
					    <canvas id="assessmentCanvas" width="600" height="600" ></canvas>
						</div>
			    </div>
		    	<div>
		        @for((subdomain, index) <- subdomains.zipWithIndex) {
              <input type="hidden" id="subdomain_@index" 
                name="subdomains[@index].id" 
                value="@subdomain.id" 
                @if(!indicatorForm.get().getSubdomains().contains(subdomain)) {
                  disabled="disabled"
                } 
                >
			        <script type="text/javascript">
			        	$(document).ready(function() {
			        	drawSegment(
			        		Math.floor(@index / 7), 
			        		'@subdomain.getParentDomain().getName()', 
			        		(@index % 7) % 7, 
			        		'@subdomain.getName()',
			        		0, 
                  @if(indicatorForm.get().getSubdomains().contains(subdomain)) {1} else {0}, 
			        		@index
			        	);
			        	});
			        </script>
		      	}
		    	</div>

				        
				    }

				    @form(routes.IndicatorController.deleteIndicator(issueId, id), 'class -> "topRight") {
				        <input type="submit" value="Delete this indicator" class="btn btn-danger">
				    }

  			</div>
  		</div>
	  </div>
  </div>
}

